@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body{
    margin: 0;
}
#slider img{
    width: 100%;
    z-index: -6;
}
#photographer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: -35%;
}
#photographer h1{
    color: #fff;
    font-family: 'Rock Salt',sans-serif;
    font-size: 1.5em;
}